<h1>Bachelorette Contestants</h1>

<% @bach.contestants.each do |contestant| %>
  <div id="contestant-<%= contestant.id %>">
    <p><%= link_to contestant.name, "/contestants/#{contestant.id}" %></p>
    <p><%= contestant.age %></p>
    <p><%= contestant.hometown %></p>
  </div>
<% end %>

<p>These Contestants are from these hometowns: <%= @bach.hometowns %></p>