<h1>Bachelorette's Page</h1>

<p>Bachelorette's Name: <%= @bach.name %></p>
<p>Season Number: <%= @bach.season_number %></p>
<p>Description: <%= @bach.description %></p>
<p>Average Age of Contestants: <%= @bach.average_age_contestants %></p>
<%= link_to "See Contestants", "/bachelorettes/#{@bach.id}/contestants" %>

<p>These Contestants are from these hometowns: <%= @bach.hometowns %></p>